<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System zarządzania</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src='https://code.jquery.com/jquery-1.12.3.js'></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">

    <link rel="stylesheet" href="table.css">
</head>
<body>

<div id="app">
    <navbar-component></navbar-component>
    <div class="container">
        <information-table :data="employees" :show-modal="showModal" :user-context="userContext"></information-table>
    </div>

</div>

<script>

    Vue.component('navbar-component', {
        template: `
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Pracownicy <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Zarobki</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        `
    })

    Vue.component('form-component',{
        template: `
        <form class="border border-light p-5">
    <p class="h4 mb-4 text-center">Pracownik</p>
    <input type="text" v-model="employee.name" id="imie" class="form-control" placeholder="Imie">
    <input type="text" v-model="employee.surname" id="nazwisko" class="form-control" placeholder="Nazwisko">

    <input type="email" v-model="employee.email" id="email " class="form-control mb-4" placeholder="E-mail">
     <input type="text" v-model="employee.adress" id="address" class="form-control" placeholder="Adress">
    <input type="number" v-model="employee.age" id="wiek" class="form-control" placeholder="Wiek">
    <input type="text" v-model="employee.gender" id="plec" class="form-control" placeholder="Plec">
     <input type="number" v-model="employee.pension" id="pensja" class="form-control" placeholder="Wynagrodzenie">
    <input type="text" v-model="employee.role" id="rola" class="form-control" placeholder="Rola">
    <button class="btn btn-info my-4 btn-block" :disabled=!allFieldsSet @click="addUser()" type="submit">Wyślij</button>
</form>
        `,
        data: function(){
            if(Object.keys(this.context).length > 0) {
                return {
                    employee: {
                        ...this.context
                    }
                }
            }
                return {
                    employee: {
                        id: null,
                        name: '',
                        surname: '',
                        email: '',
                        adress: '',
                        age: null,
                        gender: '',
                        pension: '',
                        role: ''
                    }
                }
        },
        methods:{
            addUser: function(){
                this.$root.addToTable(this._data.employee, this.context);
        }
        },
        props: ['context'],
        computed: {
            allFieldsSet(){
                return (this.employee.name.length > 0 &&
                    this.employee.surname.length > 0 &&
                this.employee.email.length > 0 &&
                this.employee.adress.length > 0 &&
                this.employee.gender.length > 0 &&
                this.employee.role.length > 0
                );

            }
        }
    })

    Vue.component('information-table', {
        template: `
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <input type="text" v-model="filter" id="exampleForm2" style="width: 200px" placeholder="Szukaj..."
                 class="form-control">
          <table id="dataTable" class="table table-striped table-bordered" cellspacing="10px" width="100%">
            <thead>
            <tr>
              <th class="th-sm">Id</th>
              <th class="th-sm">Imie</th>
              <th class="th-sm">Nazwisko</th>
              <th class="th-sm">Adres</th>
              <th class="th-sm">Email</th>
              <th class="th-sm">Wiek</th>
              <th class="th-sm">Plec</th>
              <th class="th-sm">Wynagrodzenie</th>
              <th class="th-sm">Rola</th>
              <th class="th-sm">Usun</th>
              <th class="th-sm">Edycja</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in displayedPosts" :key='user.id'>
              <td v-on:click="updateUserInTable(user.id)">{{ user.id }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.name }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.surname }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.adress }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.email }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.age }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.gender }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.pension }}</td>
              <td v-on:click="updateUserInTable(user.id)">{{ user.role }}</td>
              <td v-on:click="removeFromTable(user.id)">
                <button>Usun</button>
              </td>
              <td v-on:click="updateUserInTable(user.id)">
                <button>Edytuj</button>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous</button>
              </li>
              <li class="page-item">
                <button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)"
                        @click="page = pageNumber"> {{ pageNumber }}
                </button>
              </li>
              <li class="page-item">
                <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next</button>
              </li>
            </ul>
          </nav>

          <div class="modal-vue-test">
            <button @click="showModal = true">Dodaj pracownika</button>
            <div class="overlay" v-if="showModal" @click="showModal = false, userContext={}"></div>
            <div class="modal-add-form" v-if="showModal">
              <button class="close" @click="showModal = false, userContext={}">x</button>
              <form-component :context="userContext" v-if="showModal"></form-component>
            </div>
          </div>
          </div>
        `, props: ['data', 'showModal', 'userContext'],
        methods: {
            removeFromTable: function (id) {
                this.$root.removeUser(id);
            },
            updateUserInTable: function (id) {
                this.$root.updateUser(id);
            },
            setPages() {
                this.pages = []
                let numberOfPages = Math.ceil(this.filteredRows.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
                }
            },
            paginate(posts) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return posts.slice(from, to);
            }
        },
        watch: {
            data() {
                this.setPages();
            },
            filter(){
                this.setPages();
            }
        },
        data: function () {
            return {
                filter: '',
                page: 1,
                perPage: 5,
                pages: [],
            }
        },
        computed: {
            filteredRows() {
                return this.data.filter(row => {
                    const name = row.name.toString().toLowerCase();
                    const surname = row.surname.toString().toLowerCase();
                    const role = row.role.toString().toLowerCase();
                    const adress = row.adress.toString().toLowerCase();
                    const email = row.email.toString().toLowerCase();
                    const pension = row.pension.toString().toLowerCase();
                    const searchTerm = this.filter.toLowerCase();
                    return name.includes(searchTerm) ||
                        surname.includes(searchTerm) ||
                        role.includes(searchTerm) ||
                        adress.includes(searchTerm) ||
                        email.includes(searchTerm) ||
                        pension.includes(searchTerm)
                });
            },
            displayedPosts () {
                return this.paginate(this.filteredRows);
            }
        },
    });
    var app = new Vue({
        el: '#app',
        data:{
            employees: [],
            renderComponent: true,
            tableFilter: '',
            showModal: false,
            userContext: {}
        },
        mounted () {
            axios.get('http://localhost:8081/employees')
                .then(response => this.employees = (response.data));

        },
        methods: {
            removeUser: function(id){
                axios.delete('http://localhost:8081/employee?id='+id)
                    .then(response => this.employees = response.data)
            },
            addToTable: function(data, context){
                if(Object.keys(context).length > 0){
                    axios.put('http://localhost:8081/employee?id=' + this.userContext.id, data)
                        .then(response => this.employees = response.data)
                        .then( () => this.showModal = false)
                    .then(() => this.userContext = {})
                } else {
                    axios.post('http://localhost:8081/employee', data)
                        .then(response => this.employees = response.data)
                        .then( () => this.showModal = false)
                }
            },
            updateUser: function(id){
                axios.get('http://localhost:8081/employee?id='+id)
                .then(response => this.userContext = response.data)
                .then(() => this.showModal = true)
            }
        }
    });

</script>

</body>
</html>